.idea
.vscode
Backend/.classpath
Backend/.project
Backend/.settings/
Backend/schema/.classpath
Backend/schema/.project
Backend/schema/.settings/
Backend/schema/bin/
Backend/service/.classpath
Backend/service/.project
Backend/service/.settings/
Backend/service/bin/
Frontend/Schedule_Research/EventApp/.project
Frontend/Schedule_Research/EventApp/.settings/
Backend/service/src/main/main.iml
Backend/buildBackend
Frontend/ShareAgenda/.project
Frontend/ShareAgenda/.settings/
Frontend/ShareAgenda/app/.classpath
Frontend/ShareAgenda/app/.project
Frontend/ShareAgenda/app/.settings/
Frontend/ShareAgenda/app/.settings/org.eclipse.buildship.core.prefs
Frontend/ShareAgenda/app/src/main/gen/com/cosin/shareagenda/Manifest.java
Frontend/ShareAgenda/app/src/main/gen/com/cosin/shareagenda/buildConfig.java
Frontend/ShareAgenda/app/src/main/gen/com/cosin/shareagenda/R.java
Frontend/ShareAgenda/Android-Week-View/
Frontend/ShareAgenda/app/release/
